<!DOCTYPE html>
<html>
<script src="./node_modules/angular/angular.min.js"></script>
<script src="./node_modules/angular-route/angular-route.min.js"></script>
<script src="./node_modules/angular-resource/angular-resource.min.js"></script>
<script src="./node_modules/ngstorage/ngStorage.min.js"></script>
<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./node_modules/canvasjs/dist/jquery.canvasjs.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./config/app.module.js"></script>
<script src="./config/app.config.js"></script>
<script src="./config/printDirective.js"></script>
<script src="./component/checkin/checkin.component.js"></script>
<script src="./component/menu/menu.component.js"></script>
<script src="./component/dashboard/dashboard.component.js"></script>
<script src="./service/sessionService.js"></script>
<script src="./service/httpService.js"></script>
<script src="./service/customerService.js"></script>
<script src="./service/menuService.js"></script>
<script src="./service/expenseService.js"></script>
<script src="./service/masterService.js"></script>
<script src="./service/userService.js"></script>
<script src="./service/orderHistoryService.js"></script>
<script src="./service/dashboardService.js"></script>
<script src="./service/base64Service.js"></script>
<script src="./service/loginService.js"></script>
<script src="./component/menu/category/category.component.js"></script>
<script src="./component/menu/item/item.component.js"></script>
<script src="./component/customer/customer.component.js"></script>
<script src="./component/masterData/masterData.component.js"></script>
<script src="./component/expense/expense.component.js"></script>
<script src="./component/login/login.component.js"></script>
<script src="./component/order/orderHistory.component.js"></script>
<script src="./component/staff/staff.component.js"></script>
<script src="./component/error/error.component.js"></script>
<script src="./component/order/customerView/customerView.component.js"></script>
<script src="./component/order/status/customer/customerStatus.component.js"></script>
<script src="./component/order/status/staff/staffStatus.component.js"></script>
<link rel="stylesheet" href="./assets/css/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="./assets/lib/jquery-ui.js"></script>
<link rel="stylesheet" href="./assets/css/jquery-ui.css">
<link rel="stylesheet" href="./assets/css/font-awesome.min.css">
<script>
window.onbeforeunload = function (e) {
    e = e || window.event;

    // For IE and Firefox prior to version 4
    if (e) {
        e.returnValue = 'Sure?';
    }

    // For Safari
    return 'Sure?';
};
</script>
<body ng-app="sample">
    <!-- nav bar starts -->
    <nav class="navbar-default navbar-fixed-top container-fluid">
        <div class="container-fluid">
            <div ng-if="viewType != 'customerStatus'" class="navbar-header">
                <span class="navbar-brand" style="color:#337ab7;"><strong>Resto Management</strong></span>
            </div>
            <form ng-if="viewType == 'menu'" class="navbar-form text-center">

                <div ng-if="!isAnonymousCustomer" class="form-group">
                    <span id="menuCustomerDataLoadingIndicator" class="fa fa-spinner fa-spin onTop" style="color:#337ab7; font-size:34px; display: none;"></span>
                    <div id="menuCustomerDataDiv">
                        <label for="mobile">Customer &nbsp;<span class="glyphicon glyphicon-user"></span></label>
                        <label for="mobile">Name : </label>
                        <input ng-model="customerName" type="name" class="form-control input-sm" id="name">&nbsp;
                        <label for="mobile"><span class="glyphicon glyphicon-phone-alt"></span> Mobile : </label>
                        <input ng-model="customerMobile" type="mobile" class="form-control input-sm" id="mobile" onkeypress="return event.charCode >= 48 && event.charCode <= 57">&nbsp;
                        <button ng-click="updateCustomer(customerName, customerMobile)" class="btn btn-primary btn-sm">Save</button>
                    </div>
                </div>
                <!-- <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-shopping-cart"></span> View Cart <span ng-if="cart.quantity != 0" class="badge">{{totalCartQuantity}}</span>
                </button> -->
                <!-- <button ng-click="clearSession()" class="btn btn-danger btn-sm pull-right">Close</button> -->
                <div class="btn-group pull-right">
                    <button type="button" ng-click="clearCustomerSession()" class="btn btn-danger btn-sm">Close</button>
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-toggle="modal" data-target="#changePassModal">Change Password</a></li>
                        <li><a ng-click="logOut()">Log Out</a></li>
                    </ul>
                </div>
            </form>
            <form ng-if="viewType == 'dashboard'" class="navbar-form text-center"> <label>Welcome <span class="glyphicon glyphicon-user"></span> {{loggedInUser.name}} </label>
                <div class="btn-group pull-right">
                    <button type="button" ng-click="close()" class="btn btn-danger btn-sm">Close</button>
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-toggle="modal" data-target="#changePassModal">Change Password</a></li>
                        <li><a ng-click="logOut()">Log Out</a></li>
                    </ul>
                </div>
            </form>
            <form ng-if="viewType == 'checkin'" class="navbar-form text-center"> <label>Welcome <span class="glyphicon glyphicon-user"></span> {{loggedInUser.name}} </label>
                <div class="btn-group pull-right">
                    <button type="button" ng-click="logOut()" class="btn btn-danger btn-sm">Log Out</button>
                    <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-toggle="modal" data-target="#changePassModal">Change Password</a></li>
                    </ul>
                </div>
                <span class="pull-right">&nbsp;</span>
                <a href="/#!/customerview" target="_blank" class="btn btn-primary btn-sm pull-right">Customer Review</a>
                <span class="pull-right">&nbsp;</span>
                <a href="/#!/customerstatus" target="_blank" class="btn btn-primary btn-sm pull-right">Customer Status</a>
                <span class="pull-right">&nbsp;</span>
                <a href="/#!/staffstatus" target="_blank" class="btn btn-primary btn-sm pull-right">Staff Status</a>
            </form>
            <form ng-if="viewType == 'customerStatus'" class="navbar-form text-center">
                <h2><strong>Please Collect</strong></h2>
            </form>
        </div>
    </nav>
    <!-- nav bar ends -->

    <!-- change password modal starts-->
    <div id="changePassModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                        <span ng-if="newPasswordLoggedInUser != newPasswordLoggedInUserConfirm" class="alert alert-danger">Password do not match</span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-4">New Password:</label>
                            <div class="col-sm-8">
                                <input type="password" ng-model="newPasswordLoggedInUser" class="form-control"></input>
                                <span class="glyphicon glyphicon-lock form-control-feedback atZeroIndex"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-4">Confirm Password:</label>
                            <div class="col-sm-8">
                                <input type="password" ng-model="newPasswordLoggedInUserConfirm" class="form-control"></input>
                                <span class="glyphicon glyphicon-lock form-control-feedback atZeroIndex"></span>
                            </div>
                        </div>

                        <button ng-disabled="newPasswordLoggedInUser == undefined || newPasswordLoggedInUser == '' || newPasswordLoggedInUserConfirm == undefined || newPasswordLoggedInUserConfirm == '' || newPasswordLoggedInUser != newPasswordLoggedInUserConfirm" ng-click="changePasswordLoggedInUser(newPasswordLoggedInUser)" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- change password modal ends -->

    <!-- ng container -->
    <div class="appContainer" ng-view>
    </div>

    <!-- footer starts -->
    <footer class="container-fluid text-center navbar-fixed-bottom">
        <p>Designed & Developed by Rupesh Sharma</p>
    </footer>
    <!-- footer ends -->

</body>

</html>
