<div class="centered container text-center">
	<div id="login-overlay" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-6">
						<div class="well">
							<form>
								<div class="form-group">
									<label for="mobile" class="control-label">Customer's Mobile</label>
									<input type="text" class="form-control" name="mobile" title="Please enter mobile no." placeholder="Mobile">
									<span class="help-block"></span>
								</div>
								<button ng-click="checkIn(false)" class="btn btn-primary btn-block">Serve</button>
								</br>
								</br>
								-OR-
								</br>
								</br>
								<button ng-click="checkIn(true)" class="btn btn-warning">Serve Anonymously</button>
							</form>
						</div>
					</div>
					<div class="col-xs-6">
						<p class="lead">View / Manage <span class="text-success">Dash-Board</span></p>
						<ul class="text-left list-unstyled" style="line-height: 2">
							<li><span class="fa fa-check text-success"></span> See Daily Review</li>
							<li><span class="fa fa-check text-success"></span> See all Orders</li>
							<li><span class="fa fa-check text-success"></span> Add/Update menu Category</li>
							<li><span class="fa fa-check text-success"></span> Add/Update menu Item</li>
							<li><span class="fa fa-check text-success"></span> Track Expense/Collection</li>
							<li><span class="fa fa-check text-success"></span> Track Customers</li>
						</ul>
						<p><a href="#!/dashboard" class="btn btn-primary btn-block">Go To Dash-Board</a></p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>