
<div class="centered container text-center">
    <div class="row content">
    <!--<div class="col-sm-2">
    </div>
    <div class="col-sm-8"> 

        <form class="form-inline">
            <div class="form-group form-group-lg">
                <label for="mobile">Enter Mobile : </label>
                <input ng-model="mobile" type="mobile" class="form-control input-lg" id="mobile" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </div>
            <button ng-click="checkIn(false)" class="btn btn-primary btn-lg">Check In</button> | 
            <button ng-click="checkIn(true)" class="btn btn-warning btn-lg">Anonymous</button> | 
            <a href="#!/dashboard" class="btn btn-info btn-lg">Dashboard</a>
        </form>

    </div>
    <div class="col-sm-2">
    </div>-->
    <div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Serve Customer</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Admin Panel</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" role="form" style="display: block;">
									<div class="form-group">
                                        <input ng-model="mobile" type="mobile" class="form-control input-lg" id="mobile" placeholder="Enter Mobile" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
									</div>
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<button ng-click="checkIn(false)" class="btn btn-primary btn-lg">Check In</button>
											</div>
										</div>
									</div>
                                   <div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												-OR-
											</div>
										</div>
									</div>
                                    <div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<button ng-click="checkIn(true)" class="btn btn-warning btn-lg">Check In - Anonymous</button>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<!--<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">-->
                                                <a href="#!/dashboard" class="btn btn-primary btn-lg">Login</a>
                                            </div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</div>
