<div class="row text-center">
    <form class="form-inline">
        <button ng-click="showAddEditStaffForm(false, '')" class="btn btn-primary text-center" data-toggle="modal" data-target="#staffModal">Add Staff</button>
    </form>
</div>
</br>
<div ng-switch="staffList.length" class="row">
    <span class="ng-empty" ng-switch-when="0">No ExpensesFound !</span>

    <table ng-switch-default class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Role</th>
                <th>Contact</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="staff in staffList">
                <td>{{staff.name}}</td>
                <td>{{staff.userName}}</td>
                <td>{{staff.role}}</td>
                <td>{{staff.contact}}</td>
                <td>
                    <a ng-click="showAddEditStaffForm(true, staff)" data-toggle="modal" data-target="#staffModal" class="glyphicon glyphicon-edit"></a>
                    &nbsp;&nbsp;
                    <a ng-click="showPasswordStaffForm(staff)" data-toggle="modal" data-target="#staffPasswordModal" class="glyphicon glyphicon-lock"></a>
                    &nbsp;&nbsp;
                    <a ng-click="removeStaff(staff)" data-toggle="modal" data-target="#staffPasswordModal" class="glyphicon glyphicon-trash"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div id="staffModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Add Staff</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal text-center">
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Name:</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="staffFormData.name" class="form-control"></input>
                            <span class="glyphicon glyphicon-user form-control-feedback atZeroIndex"></span>
                        </div>
                    </div>
                    <div ng-hide="isEdit" class="form-group has-feedback">
                        <label class="control-label col-sm-3">Username:</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="staffFormData.userName" class="form-control"></input>
                            <span class="glyphicon glyphicon-asterisk form-control-feedback atZeroIndex"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Contact:</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="staffFormData.contact" class="form-control"></input>
                            <span class="glyphicon glyphicon-earphone form-control-feedback atZeroIndex"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Email:</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="staffFormData.email" class="form-control"></input>
                            <span class="glyphicon glyphicon-envelope form-control-feedback atZeroIndex"></span>
                        </div>
                    </div>
                    <div ng-hide="isEdit" class="form-group has-feedback">
                        <label class="control-label col-sm-3">Password:</label>
                        <div class="col-sm-9">
                            <input type="password" ng-model="staffFormData.password" class="form-control"></input>
                            <span class="glyphicon glyphicon-lock form-control-feedback atZeroIndex"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Role:</label>
                        <div class="col-sm-9 text-left">
                            <div class="radio">
                                <label><input type="radio" ng-model="staffFormData.role" value="Admin" name="optradio">Admin</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" ng-model="staffFormData.role" value="User" name="optradio">User</label>
                            </div>
                        </div>
                    </div>
                    <button ng-click="createOrUpdateStaff()" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div id="staffPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Change Password</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal text-center">
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Name:</label>
                        <div class="col-sm-9 text-left">
                            <label class="control-label">{{staffFormData.name}}</label>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">New Password:</label>
                        <div class="col-sm-9">
                            <input type="password" ng-model="newStaffPassword" class="form-control"></input>
                            <span class="glyphicon glyphicon-lock form-control-feedback atZeroIndex"></span>
                        </div>
                    </div>
                    <button ng-disabled="newStaffPassword == undefined || newStaffPassword == ''" ng-click="changePassword()" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

    </div>
</div>
