<div class="container">
  <br>
  <div class="panel panel-default" ng-repeat="order in orderList">
    <div class="panel-heading">
      <h3 class="panel-title text-right">
        <strong class="pull-left">Order # {{order.orderNumber}}</strong>
        <button ng-if="order.status == 'Received'" ng-click="updateOrderStatus(0,order)" class="btn btn-sm btn-primary">Serve</button>
        <button ng-if="order.status == 'Serving'" ng-click="updateOrderStatus(1, order)" class="btn btn-sm btn-success">Complete</button>
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <td><strong>Item</strong></td>
              <td class="text-center"><strong>Quantity</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ordtl in order.orderDetail">
              <td class="col-sm-8">{{ordtl.item.title}}</td>
              <td class="col-sm-4 text-center">{{ordtl.quantity}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
