<div class="container">
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" ng-repeat="ord in orderList">
        <div class="content">
          <div class="well text-center">
            <strong style="font-size:36px;">{{ord.orderNumber}}</strong> <br> 
            <label ng-if="ord.orderStatus == 'Received'" style="font-size:16px;" class="label label-default">{{ord.orderStatus}} &nbsp;<span class="glyphicon glyphicon-tag"></span></label>
            <label ng-if="ord.orderStatus == 'Preparing'" style="font-size:16px;" class="label label-primary">{{ord.orderStatus}} &nbsp;<i class="fa fa-circle-o-notch fa-spin" style="font-size:14px"></i>&nbsp;</label>
            <label ng-if="ord.orderStatus == 'Serving'" style="font-size:16px;" class="label label-success">{{ord.orderStatus}} &nbsp;<span class="glyphicon glyphicon-ok-circle"></span></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  @media (min-width: 992px) {
    .col-md-2 {
      float: left;
    }
  }
  
  .content {
    height: auto;
    margin-top: 5px;
  }
</style>
