<div class="row">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Mobile</th>
        <th>Last Visited</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>1234567890</td>
        <td>8/4/2017</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>1234567890</td>
        <td>8/4/2017</td>
      </tr>
      <tr>
        <td>July</td>
        <td>1234567890</td>
        <td>8/4/2017</td>
      </tr>
    </tbody>
  </table>
</div>
