<div class="text-center">
  <form class="form-inline">
    <div class="form-group">
      <label for="email">Category Name : </label>
      <input type="text" ng-model="newCategoryName" class="form-control" id="email">
    </div>
    <button type="submit" ng-click="addCategory()" class="btn btn-primary">ADD</button>
  </form>
</div>
</br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Last Modified Date</th>
      <th>Created Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="cat in categoryList">
      <td>{{cat.title}}</td>
      <td>{{cat.modifiedDate || "Not Yet Modified"}}</td>
      <td>{{cat.createdDate}}</td>
      <td><a ng-click="showUpdateCategoryModal(cat)" data-toggle="modal" data-target="#updateCatModal">
          <span class="glyphicon glyphicon-edit"></span>
        </a>&nbsp;
        <a ng-click="showDeleteCategoryModal(cat)" data-toggle="modal" data-target="#deleteCatModal">
          <span class="glyphicon glyphicon-trash"></span>
        </a></td>
    </tr>
  </tbody>
</table>

<div id="updateCatModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-center modal-title">Update Category</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">Current Category Name : </label>
                <div class="col-sm-6">
                  <input ng-disabled="true" type="text" ng-model="selectedCategory.title" class="form-control" id="catnme">
                </div>
              </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="email">New Category Name : </label>
            <div class="col-sm-6">
              <input type="text" ng-model="updatedCategoryName" class="form-control" id="catnme">
            </div>
          </div>
          <div class="form-group">
            <div class="text-center col-sm-12">
              <button ng-click="updateCategory()" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<div id="deleteCatModal" class="modal fade" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="text-center modal-title">Delete Category</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal text-center">
        <div class="form-group">
          <span>Do you want to delete category : <strong>{{selectedCategory.title}}</strong></span>
        </div>
        <div class="form-group">
          <div class="text-center col-sm-12">
            <button ng-click="deleteCategory()" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
</div>