<div class="row text-center">
<form class="form-inline">
  <div class="form-group">
    <label for="sel1">Category :</label>
    <select ng-model="categorySelected" ng-change="displayItemsForCategory(categorySelected)" data-ng-options="cat as cat.title for cat in menu" class="form-control" id="sel1">
        <option value="">Please Select</option>
    </select>
&nbsp;
    <button ng-disabled="!categorySelected" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Add Item</button>
  </div>
  
</form>
</div>
<br>
<div ng-switch="itemList.length" class="row text-center">
<span class="ng-empty text-center" ng-switch-when="0">No Items Found !</span>
<table class="table table-striped" ng-switch-default>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Price</th>
        <th class="">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itemList">
        <td class="text-left">{{item.title}}</td>
        <td class="text-left">{{item.price}}</td>
        <td class="text-left"><a>
          <span class="glyphicon glyphicon-edit"></span>
        </a>&nbsp;
        <a>
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-center modal-title">Add Item</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-4" for="email">Category : </label>
    <div class="col-sm-6">
      <input ng-disabled="true" type="text" class="form-control" id="catnme" value="{{categorySelected.title}}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="pwd">Item name : </label>
    <div class="col-sm-6"> 
      <input type="text" class="form-control" id="itmnme" ng-model="newItemName" placeholder="Enter Item Name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="pwd">Item Price : </label>
    <div class="col-sm-6"> 
      <input type="text" class="form-control" id="itmprc" ng-model="newItemPrice" placeholder="Enter Item Price">
    </div>
  </div>
  <div class="form-group"> 
    <div class="text-center col-sm-12">
      <button ng-click="addItem()" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
      </div>
    </div>

  </div>
</div>
