<div class="row text-center">
  <form class="form-inline">
    <div class="form-group">
      <label for="sel1">Category :</label>
      <select ng-model="categorySelected" ng-change="displayItemsForCategory(categorySelected)" data-ng-options="cat as cat.title for cat in categoryList"
        class="form-control" id="sel1">
        <option value="">Please Select</option>
    </select> &nbsp;
      <button ng-disabled="!categorySelected" data-toggle="modal" data-target="#newItemModal" class="btn btn-primary">Add Item</button>
    </div>
    <button ng-click="showWholeItemGraph()" data-toggle="modal" data-target="#wholeItemModal" class="pull-right btn btn-primary">View Sales Graph</button>
  </form>

</div>
<br>
<div ng-switch="itemList.length" class="row text-center">
  <span class="ng-empty text-center" ng-switch-when="0">No Items Found !</span>
  <table class="table table-striped" ng-switch-default>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Price</th>
        <th>Item Description</th>
        <th>Last Modified Date</th>
        <th>Created Date</th>
        <th class="">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itemList">
        <td class="text-left"><a ng-click="viewitemDetail(item)" data-toggle="modal" data-target="#itemDetailModal">{{item.title}}</a></td>
        <td class="text-left">{{item.price}}</td>
        <td class="text-left">{{item.description}}</td>
        <td class="text-left">{{item.modifiedDate || "Not Yet Modified"}}</td>
        <td class="text-left">{{item.createdDate}}</td>
        <td class="text-left">
          <a ng-click="showUpdateItemModal(item)" data-toggle="modal" data-target="#updateItemModal">
            <span class="glyphicon glyphicon-edit"></span>
          </a>&nbsp;
          <a ng-click="showDeleteItemModal(item)" data-toggle="modal" data-target="#deleteItemModal">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="newItemModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-center modal-title">Add Item</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-4" for="email">Category : </label>
            <div class="col-sm-6">
              <input ng-disabled="true" type="text" class="form-control" id="catnme" value="{{categorySelected.title}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">Item name : </label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="itmnme" ng-model="itemData.title" placeholder="Enter Item Name">
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4" for="pwd">Item Description : </label>
              <div class="col-sm-6">
                  <textarea class="form-control" rows="5" id="comment" ng-model="itemData.description" placeholder="Enter Item Description"></textarea>
              </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">Item Price : </label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="itmprc" ng-model="itemData.price" placeholder="Enter Item Price">
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4" for="pwd">Item Type : </label>
              <div class="col-sm-6">
                  <label class="radio-inline">
                      <input type="radio" ng-model="itemData.type" value="veg" name="itemType">Veg
                    </label>
                    <label class="radio-inline">
                      <input type="radio" ng-model="itemData.type" value="nonVeg" name="itemType">Non-Veg
                    </label>
                    <label class="radio-inline">
                      <input type="radio" ng-model="itemData.type" value="na" name="itemType">N/A
                    </label>
              </div>
            </div>
          <div class="form-group">
            <div class="text-center col-sm-12">
              <button ng-click="addItem()" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<div id="updateItemModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-center modal-title">Update Item</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-4" for="email">Category : </label>
            <div class="col-sm-6">
              <input ng-disabled="true" type="text" class="form-control" id="catnme" value="{{categorySelected.title}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">Item name : </label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="itmnme" ng-model="itemData.title" placeholder="Enter Item Name">
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4" for="pwd">Item Description : </label>
              <div class="col-sm-6">
                  <textarea class="form-control" rows="5" id="comment" ng-model="itemData.description" placeholder="Enter Item Description"></textarea>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4" for="pwd">Item Price : </label>
              <div class="col-sm-6">
                <input type="number" class="form-control" id="itmprc" ng-model="itemData.price" placeholder="Enter Item Price">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4" for="pwd">Item Type : </label>
              <div class="col-sm-6">
                  <label class="radio-inline">
                      <input type="radio" ng-model="itemData.type" value="veg" name="itemType">Veg
                    </label>
                    <label class="radio-inline">
                      <input type="radio" ng-model="itemData.type" value="nonVeg" name="itemType">Non-Veg
                    </label>
                    <label class="radio-inline">
                      <input type="radio" ng-model="itemData.type" value="na" name="itemType">N/A
                    </label>
              </div>
            </div>
          <div class="form-group">
            <div class="text-center col-sm-12">
              <button ng-click="updateItem()" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<div id="deleteItemModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="text-center modal-title">Delete Item</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal text-center">            
            <div class="form-group">
                <span>Do you want to delete <strong>{{selectedItem.title}}</strong> item under category <strong>{{categorySelected.title}}</strong> ?</span>
            </div>
            <div class="form-group">
              <div class="text-center col-sm-12">
                <button ng-click="deleteItem()" class="btn btn-primary">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
    </div>
  </div>

<div id="itemDetailModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-center modal-title">{{viewedItem.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
              <!--<h3 class="box-title">Sales Chart </h3>-->
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active" ng-click="updateChart('w')">
                    <input type="radio" name="options" id="option1" autocomplete="off"> Weekly
                  </label>
                <label class="btn btn-primary" ng-click="updateChart('m')">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Monthly
                  </label>
                <label class="btn btn-primary" ng-click="updateChart('y')">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Yearly
                  </label>
              </div>
              <div ng-show="renderChartBy == 'w'" class="text-right">
                <div class="form-group form-inline">
                  <label for="email">Month:</label>
                  <select class="form-control">
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>Jun</option>
                    <option>Jul</option>
                    <option selected>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Dec</option>
                  </select>
                  <label for="email">Year:</label>
                  <select class="form-control">
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option selected>2017</option>
                  </select>
                </div>
              </div>
              <div ng-show="renderChartBy == 'm'" class="text-right">
                <div class="form-group form-inline">
                  <label for="email">Year:</label>
                  <select class="form-control">
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option selected>2017</option>
                  </select>
                </div>
              </div>
              <div class="text-center" id="perItemChart" style="height: 405px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="wholeItemModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-center modal-title">Sale - All Items</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div id="wholeItemChartContainer" style="height: 405px;"></div>
        </div>
      </div>
    </div>

  </div>
</div>
