<br>
<div class="container">
  <div class="row content">
    <div class="row">
      <div class="well well-sm col-sm-12 text-center">Welcome ! Admin
        <div class="pull-right">
          <a href="/" type="button" class="btn btn-sm btn-danger">Log Out</a></div>
      </div>
    </div>
    <div class="row">
      <ul data-spy="affix" data-offset-top="20" class="nav nav-pills nav-stacked col-sm-2">
        <li class="active"><a data-target="#tab_a" data-toggle="pill">DashBoard</a></li>
        <li><a data-target="#tab_b" data-toggle="pill">Category</a></li>
        <li><a data-target="#tab_c" data-toggle="pill">Item</a></li>
        <li><a data-target="#tab_d" data-toggle="pill">Customer</a></li>
        <li><a data-target="#tab_e" data-toggle="pill">Expense</a></li>
        <li><a data-target="#tab_f" data-toggle="pill">Order History</a></li>
      </ul>
      <div class="tab-content col-sm-10">
        <div class="tab-pane active" id="tab_a">
          <div style="background-color:#F7F7F7;" class="row tile_count">
            <div class="x_title">
              <form style="padding: 6px 0px 0px 0px;" class="form-inline text-center">
                <div class="form-group has-feedback">
                  <label style="font-size: 18px;" for="email">Review : </label>
                  <input type="email" id="reviewDate" ng-model="reviewDate" class="form-control" id="email">
                  <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-list-alt"></span> Total Order</strong>
              </span>
              <div style="color:#73879C;" class="count">25</div>
              <span class="count_bottom"><i class="green">4% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count seperator">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-cutlery"></span> Total Items Sold</strong>
              </span>
              <div style="color:#73879C;" class="count">123</div>
              <span class="count_bottom"><i class="green"><i ></i>3% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count seperator">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-piggy-bank"></span> Total Collection</strong>
              </span>
              <div style="color:#73879C;" class="count green">2500 <i class="fa fa-inr"></i></div>
              <span class="count_bottom"><i class="green"><i ></i>34% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count seperator">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-scissors"></span> Total Expenses</strong>
              </span>
              <div style="color:#73879C;" class="count">1500 <i class="fa fa-inr"></i></div>
              <span class="count_bottom"><i class="red"><i ></i>12% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count seperator">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-piggy-bank"></span> Avail. Collection</strong>
              </span>
              <div style="color:#73879C;" class="count">1000 <i class="fa fa-inr"></i></div>
              <span class="count_bottom"><i class="green"><i ></i>34% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count seperator">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-user"></span> Total Customers</strong>
              </span>
              <div style="color:#73879C;" class="count">25</div>
              <span class="count_bottom"><i class="green"><i ></i>34% </i> From last Week</span>
            </div>
          </div>
          </br>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Orders Placed</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="control-label col-sm-3">From:</label>
                      <div class="col-sm-9">
                        <input id="fromOrderDate" ng-model="fromOrderDate" type="text" class="form-control"></input>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3">To:</label>
                      <div class="col-sm-9">
                        <input id="toOrderDate" ng-model="toOrderDate" type="text" class="form-control"></input>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="text-center col-sm-12 ">
                        <button type="submit" class="btn btn-primary">Show</button>
                      </div>
                    </div>
                  </form>
                  <div class="text-center totalValue">
                    Total : 1234
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h2>Items Sold</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <form class="form-horizontal">
                    
                    <div class="form-group">
                      <label class="control-label col-sm-3">From:</label>
                      <div class="col-sm-9">
                        <input id="fromItemDate" ng-model="fromItemDate" type="text" class="form-control"></input>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3">To:</label>
                      <div class="col-sm-9">
                        <input id="toItemDate" ng-model="toItemDate" type="text" class="form-control"></input>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="text-center col-sm-12 ">
                        <button type="submit" class="btn btn-primary">Show</button>
                      </div>
                    </div>
                  </form>
                  <div class="text-center totalValue">
                    Total : 1234
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Total Collection</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <form class="form-horizontal">
                   
                    <div class="form-group">
                      <label class="control-label col-sm-3">From:</label>
                      <div class="col-sm-9">
                        <input id="fromCollectionDate" ng-model="fromCollectionDate" type="text" class="form-control"></input>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3">To:</label>
                      <div class="col-sm-9">
                        <input id="toCollectionDate" ng-model="toCollectionDate" type="text" class="form-control"></input>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="text-center col-sm-12 ">
                        <button type="submit" class="btn btn-primary">Show</button>
                      </div>
                    </div>
                  </form>
                  <div class="text-center totalValue">
                    Total : 1234
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
        <div class="tab-pane" id="tab_b">
          <category></category>
        </div>
        <div class="tab-pane" id="tab_c">
          <item></item>
        </div>
        <div class="tab-pane" id="tab_d">
          <customer></customer>
        </div>
        <div class="tab-pane" id="tab_e">
          <expense></expense>
        </div>
        <div class="tab-pane" id="tab_f">
          <order-history></order-history>
        </div>
      </div>
      <!-- tab content -->
    </div>
  </div>
</div>
<!-- end of container -->