<br>
<div class="container">
  <div class="row content">
    <div class="row">
      <div class="well well-sm col-sm-12 text-center">Welcome ! Admin
        <div class="pull-right">
          <a href="/" type="button" class="btn btn-sm btn-danger">Log Out</a></div>
      </div>
    </div>
    <div class="row">
      <ul data-spy="affix" data-offset-top="20" class="nav nav-pills nav-stacked col-sm-2">
        <li class="active"><a data-target="#tab_a" data-toggle="pill">DashBoard</a></li>
        <li><a data-target="#tab_b" data-toggle="pill">Category</a></li>
        <li><a data-target="#tab_c" data-toggle="pill">Item</a></li>
        <li><a data-target="#tab_d" data-toggle="pill">Customer</a></li>
        <li><a data-target="#tab_e" data-toggle="pill">Expense</a></li>
        <li><a data-target="#tab_f" data-toggle="pill">Order History</a></li>
      </ul>
      <div class="tab-content col-sm-10">
        <div class="tab-pane active" id="tab_a">
          <div style="background-color:#F7F7F7;" class="row tile_count">
            <div class="x_title">
              <h4 class="text-center">Today's Review</h4>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-list-alt"></span> Total Order</strong></span>
              <div style="color:#73879C;" class="count">2500</div>
              <span class="count_bottom"><i class="green">4% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-cutlery"></span> Total Items Sold</strong></span>
              <div style="color:#73879C;" class="count">123</div>
              <span class="count_bottom"><i class="green"><i ></i>3% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-piggy-bank"></span> Total Collection</strong></span>
              <div style="color:#73879C;" class="count green">2,500 <i class="fa fa-inr"></i></div>
              <span class="count_bottom"><i class="green"><i ></i>34% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-scissors"></span> Total Expenses</strong></span>
              <div style="color:#73879C;" class="count">4,567 <i class="fa fa-inr"></i></div>
              <span class="count_bottom"><i class="red"><i ></i>12% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-piggy-bank"></span> Avail. Collection</strong></span>
              <div style="color:#73879C;" class="count">2,315 <i class="fa fa-inr"></i></div>
              <span class="count_bottom"><i class="green"><i ></i>34% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i ></i><strong><span class="glyphicon glyphicon-user"></span> Total Customers</strong></span>
              <div style="color:#73879C;" class="count">7,325</div>
              <span class="count_bottom"><i class="green"><i ></i>34% </i> From last Week</span>
            </div>
          </div>
          </br>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Orders</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h2>Items</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                </div>
              </div>
            </div>


            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Collection</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                </div>
              </div>
            </div>

          </div>


        </div>
        <div class="tab-pane" id="tab_b">
          <category></category>
        </div>
        <div class="tab-pane" id="tab_c">
          <item></item>
        </div>
        <div class="tab-pane" id="tab_d">
          <customer></customer>
        </div>
        <div class="tab-pane" id="tab_e">
          <expense></expense>
        </div>
        <div class="tab-pane" id="tab_f">
          <order-history></order-history>
        </div>
      </div>
      <!-- tab content -->
    </div>
  </div>
</div>
<!-- end of container -->
