<br>
<div class="container">
  <div class="row content">
  <div class="row">
    <div class="well well-sm col-sm-12 text-center">Welcome ! Admin 
      <div class="pull-right">
      <a href="/" type="button" class="btn btn-sm btn-danger">Log Out</a></div></div>
    </div>
    <div class="row">
    <ul class="nav nav-pills nav-stacked col-sm-2">
      <li class="active"><a data-target="#tab_a" data-toggle="pill">DashBoard</a></li>
      <li><a data-target="#tab_b" data-toggle="pill">Category</a></li>
      <li><a data-target="#tab_c" data-toggle="pill">Item</a></li>
      <li><a data-target="#tab_d" data-toggle="pill">Customer</a></li>
      <li><a data-target="#tab_e" data-toggle="pill">Expense</a></li>
    </ul>
    <div class="tab-content col-sm-10">
            <div class="tab-pane active" id="tab_a">
              <div class="row">
                  <div id="chartContainer" class="col-sm-5 pull-left" style="height: 300px; width: 48%;"></div>
                  <div id="splineChartContainer" class="col-sm-5 pull-right" style="height: 300px; width: 48%;"></div>
                </div>
                <div class="row">
                  <div id="pieChartContainer" class="col-sm-5 pull-left" style="height: 300px; width: 48%;"></div>
                  <div id="donchartContainer" style="height: 300px; width: 48%;"></div>
                </div>
            </div>
            <div class="tab-pane" id="tab_b">
                <category></category>
            </div>
            <div class="tab-pane" id="tab_c">
                <item></item>
            </div>
            <div class="tab-pane" id="tab_d">
                <customer></customer>
            </div>
            <div class="tab-pane" id="tab_e">
                <expense></expense>
            </div>
    </div><!-- tab content -->
  </div>
  </div>
</div><!-- end of container -->
